.content {
    display: flex;
    flex-direction: column;
    margin: {
        left: 20px;
        right: 20px;
    };
}

.flex-spacer {
    flex-grow: 1;
}

.content {
    margin: {
        top: 64px;
    };
}

.w-full {
    width: 100% !important;
}